nav{
    margin: 10px;
}
.main{
   
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
.main .main2
{
    max-width: 100%;
    padding: 30px;
}
.main .left{
    display: inline-block;
    
   
    min-width: 45vw;
    
}
.main .left .heading
{
    display: inline-block;
font-size: 2.85rem;
}
.main .left .heading h1
{
    font-family: "Google Sans Display",Roboto,Arial,sans-serif;
    font-size: 2.75rem;
    font-weight: 100;
    line-height: 3.75rem;
}
.main .left .text
{
    font-size: 1.1rem;
max-width: 25vw;
color: #7a8997;
line-height: 1.32;
padding-left: 10px;
padding-bottom: 20px;
}
.buttons
{
    display: inline;
    max-height: 15vh;
    max-width: 30vw;
    
}
.b1{
    padding-top: 30px;
}
.btn1
{
    display: inline-block;
    font-size:15px;
    font-weight: 500;
    font: bolder;
    max-width: 6vw;
    padding: 15px;
    margin: 0px 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(72, 72, 214);
    border-radius: 10px;
    border-left-color: rgb(255, 255, 255);
}
.btn2
{
    display: inline-block;
    font-size: 13px;
    min-width: 18vw;
    padding: 15px;
    margin: 0 0 0 5px;
    color: rgb(10, 10, 36);
    background-color: rgb(250, 250, 255);
    border-radius: 3px;
    border-top-color: azure;
}
hr{
    font-weight: 0;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    
}
.foot
{
    margin-top: 20px;
    font-size: 18px;
}
.foot a{
    text-decoration: none;
    color: blue;
    padding-right: 3px;
}
.right
{
    min-height: 90vh;
    min-width: 45vw;
    float: right;
}
.inner-right 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:1000px) {

    .btn1{
        display: block;
        min-width: 25vw;
    }
    .btn2{
        display: block;
    }
    .text{
        max-width: 100vw !important;
        font-size: 5px;
        
        letter-spacing: 0;
    }
    .main .left .heading h1
    {
        font-size: 2.75rem;
        margin-top: -40px;
    }
    .right
    {
        margin-top: 50px;
    }
}